In [1]:
from arctic import Arctic, CHUNK_STORE
from arctic.exceptions import NoDataFoundException
from arctic.date import DateRange
import pandas as pd
from ib_insync import IB, ContFuture, util, Future, Forex, Contract
from typing import Union
import pickle
from datetime import datetime, timedelta
import sys
sys.path.append('/home/tomek/ib_tools')
from datastore import ArcticStore

/home/tomek/.virtualenvs/ib/lib/python3.7/site-packages/arctic/store/_pandas_ndarray_store.py:6: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import DataFrame, Series, Panel

In [2]:
util.startLoop()
ib = IB()
ib.connect(port=4002, clientId=8)

In [15]:
ib.isConnected()

True

In [4]:
Arctic('localhost').list_libraries()

['history',
 'TRADES_30_secs',
 'TRADES_1_min',
 'TRADES_1_day',
 'TRADES_1 min',
 'TRADES_30_sec']

In [5]:
store = ArcticStore('TRADES_30_secs')

Library created, but couldn't enable sharding: no such command: 'enablesharding'. This is OK if you're not 'admin'

In [6]:
store.keys()

['6EM0_CONTFUT',
 '6EU0_CONTFUT',
 '6JM0_CONTFUT',
 '6JU0_CONTFUT',
 'BZZ0_CONTFUT',
 'CLN0_CONTFUT',
 'ESM0_CONTFUT',
 'ESU0_CONTFUT',
 'FCEM0_CONTFUT',
 'FDAX_JUN_20_CONTFUT',
 'GCQ0_CONTFUT',
 'GEM0_CONTFUT',
 'GEU0_CONTFUT',
 'M2KM0_CONTFUT',
 'M6EM0_CONTFUT',
 'M6EU0_CONTFUT',
 'MESM0_CONTFUT',
 'MGCQ0_CONTFUT',
 'MJYM0_CONTFUT',
 'MJYU0_CONTFUT',
 'MNQM0_CONTFUT',
 'NKDM0_CONTFUT',
 'NKDU0_CONTFUT',
 'NQM0_CONTFUT',
 'NQU0_CONTFUT',
 'RTYM0_CONTFUT',
 'YM_JUN_20_CONTFUT',
 'YM_SEP_20_CONTFUT',
 'ZB_JUN_20_CONTFUT',
 'ZB_SEP_20_CONTFUT',
 'ZF_JUN_20_CONTFUT',
 'ZF_SEP_20_CONTFUT',
 'ZN_JUN_20_CONTFUT',
 'ZN_SEP_20_CONTFUT',
 'ZS_JUL_20_CONTFUT']

In [7]:
store.date_range()

                                   from                  to
6EM0_CONTFUT        2017-02-15 19:04:30 2020-06-10 15:13:00
6EU0_CONTFUT        2020-04-29 00:00:00 2020-06-15 12:37:00
6JM0_CONTFUT        2017-01-12 21:08:00 2020-06-10 15:13:00
6JU0_CONTFUT        2020-04-29 00:00:00 2020-06-15 12:37:00
BZZ0_CONTFUT        2016-10-31 17:22:30 2020-06-15 12:37:00
CLN0_CONTFUT        2018-05-30 00:00:00 2020-06-15 12:37:00
ESM0_CONTFUT        2017-06-16 14:55:30 2020-06-10 15:13:00
ESU0_CONTFUT        2020-02-26 00:00:00 2020-06-15 12:37:00
FCEM0_CONTFUT       2018-01-02 09:08:30 2020-06-15 12:37:00
FDAX_JUN_20_CONTFUT 2017-09-20 16:47:00 2020-06-15 12:37:00
GCQ0_CONTFUT        2016-10-27 15:46:00 2020-06-15 12:37:00
GEM0_CONTFUT        2016-12-05 00:00:00 2020-06-10 15:13:00
GEU0_CONTFUT        2020-04-29 00:00:00 2020-06-15 12:37:00
M2KM0_CONTFUT       2019-05-06 00:01:30 2020-06-15 12:37:00
M6EM0_CONTFUT       2017-12-19 09:26:30 2020-06-10 15:13:00
M6EU0_CONTFUT       2020-04-29 00:00:00 2020-06-15 12:37:00
MESM0_CONTFUT       2019-05-06 00:00:00 2020-06-15 12:37:00
MGCQ0_CONTFUT       2017-05-03 22:31:30 2020-06-15 12:37:00
MJYM0_CONTFUT       2017-12-26 20:39:00 2020-06-10 15:13:00
MJYU0_CONTFUT       2020-04-24 00:04:00 2020-06-15 12:37:00
MNQM0_CONTFUT       2019-05-06 00:03:00 2020-06-15 12:37:00
NKDM0_CONTFUT       2017-12-27 17:05:00 2020-06-04 15:23:30
NKDU0_CONTFUT       2018-03-08 15:31:30 2020-06-15 12:37:00
NQM0_CONTFUT        2017-08-08 20:49:00 2020-06-10 15:13:00
NQU0_CONTFUT        2020-02-26 00:00:00 2020-06-15 12:37:00
RTYM0_CONTFUT       2017-12-19 15:24:30 2020-06-15 12:37:00
YM_JUN_20_CONTFUT   2017-07-12 14:42:00 2020-06-10 15:13:00
YM_SEP_20_CONTFUT   2020-02-26 00:00:00 2020-06-15 12:37:00
ZB_JUN_20_CONTFUT   2020-03-22 23:00:00 2020-05-28 18:50:00
ZB_SEP_20_CONTFUT   2017-11-15 09:51:30 2020-06-15 12:37:00
ZF_JUN_20_CONTFUT   2020-02-28 00:00:00 2020-05-28 18:50:00
ZF_SEP_20_CONTFUT   2018-01-10 07:23:30 2020-06-15 12:37:00
ZN_JUN_20_CONTFUT   2020-02-28 00:00:00 2020-05-28 18:50:00
ZN_SEP_20_CONTFUT   2017-12-19 17:02:00 2020-06-15 12:37:00
ZS_JUL_20_CONTFUT   2016-03-22 02:14:00 2020-06-15 12:37:00

In [8]:
store.read_object('NQU0_CONTFUT')

VersionedItem(symbol=NQU0_CONTFUT,library=arctic.TRADES_30_secs,data=<class 'pandas.core.frame.DataFrame'>,version=15,metadata={'secType': 'CONTFUT', 'conId': 371749745, 'symbol': 'NQ', 'lastTradeDateOrContractMonth': '20200918', 'multiplier': '20', 'exchange': 'GLOBEX', 'currency': 'USD', 'localSymbol': 'NQU0', 'tradingClass': 'NQ', 'repr': "ContFuture(conId=371749745, symbol='NQ', lastTradeDateOrContractMonth='20200918', multiplier='20', exchange='GLOBEX', currency='USD', localSymbol='NQU0', tradingClass='NQ')", 'object': b'\x80\x03cib_insync.contract\nContFuture\nq\x00)\x81q\x01N}q\x02(X\x07\x00\x00\x00secTypeq\x03X\x07\x00\x00\x00CONTFUTq\x04X\x05\x00\x00\x00conIdq\x05Jqs(\x16X\x06\x00\x00\x00symbolq\x06X\x02\x00\x00\x00NQq\x07X\x1c\x00\x00\x00lastTradeDateOrContractMonthq\x08X\x08\x00\x00\x0020200918q\tX\x06\x00\x00\x00strikeq\nG\x00\x00\x00\x00\x00\x00\x00\x00X\x05\x00\x00\x00rightq\x0bX\x00\x00\x00\x00q\x0cX\n\x00\x00\x00multiplierq\rX\x02\x00\x00\x0020q\x0eX\x08\x00\x00\x00exchangeq\x0fX\x06\x00\x00\x00GLOBEXq\x10X\x0f\x00\x00\x00primaryExchangeq\x11h\x0cX\x08\x00\x00\x00currencyq\x12X\x03\x00\x00\x00USDq\x13X\x0b\x00\x00\x00localSymbolq\x14X\x04\x00\x00\x00NQU0q\x15X\x0c\x00\x00\x00tradingClassq\x16X\x02\x00\x00\x00NQq\x17X\x0e\x00\x00\x00includeExpiredq\x18\x89X\t\x00\x00\x00secIdTypeq\x19h\x0cX\x05\x00\x00\x00secIdq\x1ah\x0cX\x10\x00\x00\x00comboLegsDescripq\x1bh\x0cX\t\x00\x00\x00comboLegsq\x1cNX\x14\x00\x00\x00deltaNeutralContractq\x1dNu\x86q\x1eb.'},host=localhost)

In [9]:
store.read_metadata('NQU0_CONTFUT')

{'secType': 'CONTFUT',
 'conId': 371749745,
 'symbol': 'NQ',
 'lastTradeDateOrContractMonth': '20200918',
 'multiplier': '20',
 'exchange': 'GLOBEX',
 'currency': 'USD',
 'localSymbol': 'NQU0',
 'tradingClass': 'NQ',
 'repr': "ContFuture(conId=371749745, symbol='NQ', lastTradeDateOrContractMonth='20200918', multiplier='20', exchange='GLOBEX', currency='USD', localSymbol='NQU0', tradingClass='NQ')",
 'object': b'\x80\x03cib_insync.contract\nContFuture\nq\x00)\x81q\x01N}q\x02(X\x07\x00\x00\x00secTypeq\x03X\x07\x00\x00\x00CONTFUTq\x04X\x05\x00\x00\x00conIdq\x05Jqs(\x16X\x06\x00\x00\x00symbolq\x06X\x02\x00\x00\x00NQq\x07X\x1c\x00\x00\x00lastTradeDateOrContractMonthq\x08X\x08\x00\x00\x0020200918q\tX\x06\x00\x00\x00strikeq\nG\x00\x00\x00\x00\x00\x00\x00\x00X\x05\x00\x00\x00rightq\x0bX\x00\x00\x00\x00q\x0cX\n\x00\x00\x00multiplierq\rX\x02\x00\x00\x0020q\x0eX\x08\x00\x00\x00exchangeq\x0fX\x06\x00\x00\x00GLOBEXq\x10X\x0f\x00\x00\x00primaryExchangeq\x11h\x0cX\x08\x00\x00\x00currencyq\x12X\x03\x00\x00\x00USDq\x13X\x0b\x00\x00\x00localSymbolq\x14X\x04\x00\x00\x00NQU0q\x15X\x0c\x00\x00\x00tradingClassq\x16X\x02\x00\x00\x00NQq\x17X\x0e\x00\x00\x00includeExpiredq\x18\x89X\t\x00\x00\x00secIdTypeq\x19h\x0cX\x05\x00\x00\x00secIdq\x1ah\x0cX\x10\x00\x00\x00comboLegsDescripq\x1bh\x0cX\t\x00\x00\x00comboLegsq\x1cNX\x14\x00\x00\x00deltaNeutralContractq\x1dNu\x86q\x1eb.'}

In [10]:
store.read_object('YM_JUN_20_CONTFUT')

VersionedItem(symbol=YM_JUN_20_CONTFUT,library=arctic.TRADES_30_secs,data=<class 'pandas.core.frame.DataFrame'>,version=1,metadata={'secType': 'CONTFUT', 'conId': 371749728, 'symbol': 'YM', 'lastTradeDateOrContractMonth': '20200619', 'multiplier': '5', 'exchange': 'ECBOT', 'currency': 'USD', 'localSymbol': 'YM   JUN 20', 'tradingClass': 'YM', 'repr': "ContFuture(conId=371749728, symbol='YM', lastTradeDateOrContractMonth='20200619', multiplier='5', exchange='ECBOT', currency='USD', localSymbol='YM   JUN 20', tradingClass='YM')", 'object': None},host=localhost)

In [11]:
for key in store.keys():
    print(f'{key}: {store.read_object(key).metadata["tradingClass"]}')

6EM0_CONTFUT: 6E
6EU0_CONTFUT: 6E
6JM0_CONTFUT: 6J
6JU0_CONTFUT: 6J
BZZ0_CONTFUT: BZ
CLN0_CONTFUT: CL
ESM0_CONTFUT: ES
ESU0_CONTFUT: ES
FCEM0_CONTFUT: FCE
FDAX_JUN_20_CONTFUT: FDAX
GCQ0_CONTFUT: GC
GEM0_CONTFUT: GE
GEU0_CONTFUT: GE
M2KM0_CONTFUT: M2K
M6EM0_CONTFUT: M6E
M6EU0_CONTFUT: M6E
MESM0_CONTFUT: MES
MGCQ0_CONTFUT: MGC
MJYM0_CONTFUT: MJY
MJYU0_CONTFUT: MJY
MNQM0_CONTFUT: MNQ
NKDM0_CONTFUT: NKD
NKDU0_CONTFUT: NKD
NQM0_CONTFUT: NQ
NQU0_CONTFUT: NQ
RTYM0_CONTFUT: RTY
YM_JUN_20_CONTFUT: YM
YM_SEP_20_CONTFUT: YM
ZB_JUN_20_CONTFUT: ZB
ZB_SEP_20_CONTFUT: ZB
ZF_JUN_20_CONTFUT: ZF
ZF_SEP_20_CONTFUT: ZF
ZN_JUN_20_CONTFUT: ZN
ZN_SEP_20_CONTFUT: ZN
ZS_JUL_20_CONTFUT: ZS

In [13]:
store.latest_contfutures

{'6E': '6EU0_CONTFUT',
 '6J': '6JU0_CONTFUT',
 'BZ': 'BZZ0_CONTFUT',
 'CL': 'CLN0_CONTFUT',
 'ES': 'ESU0_CONTFUT',
 'FCE': 'FCEM0_CONTFUT',
 'FDAX': 'FDAX_JUN_20_CONTFUT',
 'GC': 'GCQ0_CONTFUT',
 'GE': 'GEU0_CONTFUT',
 'M2K': 'M2KM0_CONTFUT',
 'M6E': 'M6EU0_CONTFUT',
 'MES': 'MESM0_CONTFUT',
 'MGC': 'MGCQ0_CONTFUT',
 'MJY': 'MJYU0_CONTFUT',
 'MNQ': 'MNQM0_CONTFUT',
 'NKD': 'NKDU0_CONTFUT',
 'NQ': 'NQU0_CONTFUT',
 'RTY': 'RTYM0_CONTFUT',
 'YM': 'YM_SEP_20_CONTFUT',
 'ZB': 'ZB_SEP_20_CONTFUT',
 'ZF': 'ZF_SEP_20_CONTFUT',
 'ZN': 'ZN_SEP_20_CONTFUT',
 'ZS': 'ZS_JUL_20_CONTFUT'}

In [14]:
store.contfuture('NQ')

,open,high,low,close,volume,average,barCount
date,,,,,,,
2020-02-21 00:00:00,9617.25,9618.75,9614.25,9615.50,288,9616.500,159
2020-02-21 00:00:30,9615.50,9616.75,9610.50,9613.25,168,9613.250,113
2020-02-21 00:01:00,9612.50,9614.00,9611.75,9612.00,70,9612.725,54
2020-02-21 00:01:30,9612.00,9613.00,9610.50,9610.75,100,9612.050,53
2020-02-21 00:02:00,9610.75,9612.25,9609.00,9611.75,147,9610.475,108
...,...,...,...,...,...,...,...
2020-06-15 12:35:00,9499.75,9501.75,9499.25,9500.00,46,9500.975,34
2020-06-15 12:35:30,9501.75,9502.25,9500.50,9502.25,14,9501.475,12
2020-06-15 12:36:00,9502.75,9505.25,9500.00,9503.25,32,9502.750,28
2020-06-15 12:36:30,9504.25,9504.75,9502.00,9503.00,53,9503.600,36
2020-06-15 12:37:00,9503.50,9504.75,9503.00,9503.00,11,9503.700,8

In [ ]:
def hist(days_at_a_time):
    dt = ''
    barsList = []
    i = 10/days_at_a_time
    #i=1
    while i>0:
        bars = ib.reqHistoricalData(
            nq,
            endDateTime=dt,
            durationStr=str(days_at_a_time) + ' D',
            barSizeSetting='1 min',
            whatToShow='TRADES',
            useRTH=False,
            formatDate=1)
        #lib.append('edek', bars)
        if not bars:
            break
            dt -= timedelta(days=1)
            print(f'new dt: {dt}')
            continue
        barsList.append(bars)
        dt = bars[0].date
        print(dt)
        i -= 1
    allBars = [b for bars in reversed(barsList) for b in bars]
    df = util.df(allBars)
    return df

In [ ]:
bars = ib.reqHistoricalData(
            mes,
            endDateTime= '20190506 00:00:00',
            durationStr='1 D',
            barSizeSetting='30 secs',
            whatToShow='TRADES',
            useRTH=False,
            formatDate=1)

In [ ]:
nq

In [ ]:
nq.loc['20190101':]