In [16]:
import pandas as pd
import numpy as np
%matplotlib inline
import sys
sys.path.insert(0, '/home/tomek/ib_tools/')
from indicators import get_signals

In [17]:
data = pd.read_pickle('freeze/freeze_df_NQZ9.pickle')
data

,backfill,open,high,low,close,price,volume,ema_fast,atr,signal
date,,,,,,,,,,
2018-02-01 03:45:00,True,6973.00,6987.75,6963.75,6983.50,6977.929718,14928,6977.929718,24.000000,0.0
2018-02-01 11:04:00,True,6983.50,6987.50,6962.25,6965.00,6976.705877,15042,6977.312698,24.632812,0.0
2018-02-01 14:03:00,True,6965.50,6972.75,6947.25,6954.00,6958.728973,14944,6971.014596,24.929131,0.0
2018-02-01 14:42:00,True,6953.75,6955.75,6928.00,6933.00,6940.454307,15154,6963.182470,25.661012,0.0
2018-02-01 14:58:00,True,6932.75,6933.00,6904.25,6913.75,6917.269452,15072,6953.691250,26.310080,0.0
...,...,...,...,...,...,...,...,...,...,...
2019-09-04 16:24:00,False,7672.50,7679.00,7665.50,7671.25,7671.553546,15270,7649.279036,25.211616,0.0
2019-09-04 16:44:00,False,7671.50,7683.75,7668.00,7675.00,7677.507508,15328,7649.745622,24.977996,0.0
2019-09-04 17:09:00,False,7675.25,7686.75,7673.00,7685.00,7681.368105,14996,7650.268308,24.700762,0.0
2019-09-04 17:33:00,False,7685.25,7698.75,7679.50,7696.00,7687.806009,15141,7650.888766,24.566175,0.0
2019-09-04 18:04:00,False,7696.00,7704.25,7695.75,7703.25,7700.304081,15166,7651.705548,24.169479,0.0

In [19]:
data.loc['20181011 14:00:00':].head(50)

,backfill,open,high,low,close,price,volume,ema_fast,atr,signal
date,,,,,,,,,,
2018-10-11 14:30:00,False,6992.00,7049.00,6986.50,7045.50,7007.991075,19347,7229.101586,34.039353,0.0
2018-10-11 14:43:00,False,7044.75,7050.00,7012.25,7017.75,7036.312602,15021,7225.914991,34.130974,0.0
2018-10-11 15:01:00,False,7017.75,7038.50,7002.00,7030.50,7023.328454,15373,7222.566454,34.189468,0.0
2018-10-11 15:26:00,False,7030.50,7065.50,7026.25,7063.50,7045.973002,15063,7219.647554,34.314420,0.0
2018-10-11 15:31:00,False,7063.50,7075.75,7027.25,7071.25,7052.083699,19362,7216.877903,34.664681,0.0
2018-10-11 15:35:00,False,7070.50,7078.50,7046.00,7048.00,7064.204113,16699,7214.354369,34.611232,1.0
2018-10-11 15:39:00,False,7048.75,7049.25,7018.50,7022.25,7034.967995,15722,7211.389305,34.515893,0.0
2018-10-11 15:44:00,False,7021.75,7027.50,7002.00,7016.00,7015.416055,15844,7208.150078,34.293278,0.0
2018-10-11 15:47:00,False,7016.00,7063.25,7005.50,7062.50,7043.634186,15518,7205.430807,34.872457,0.0
2018-10-11 15:51:00,False,7062.25,7110.00,7057.50,7109.25,7083.275145,19663,7203.411705,35.307705,1.0
2018-10-11 15:56:00,False,7108.75,7124.50,7103.00,7111.50,7113.578923,17880,7201.926866,34.966774,1.0
2018-10-11 16:00:00,False,7110.75,7138.00,7108.00,7121.00,7127.479681,15110,7200.696334,34.844137,1.0
2018-10-11 16:05:00,False,7120.50,7124.50,7071.25,7076.25,7103.886409,16802,7199.096170,35.298603,0.0
2018-10-11 16:11:00,False,7075.75,7110.25,7073.25,7084.25,7089.087916,16909,7197.277852,35.340613,0.0
2018-10-11 16:17:00,False,7084.75,7087.50,7050.00,7052.50,7066.288218,15313,7195.112734,35.393931,0.0
2018-10-11 16:23:00,False,7052.50,7073.75,7037.25,7060.75,7057.011449,15250,7192.830068,35.421241,0.0
2018-10-11 16:30:00,False,7060.50,7082.00,7043.00,7081.50,7064.261973,15606,7190.704975,35.509606,0.0
2018-10-11 16:37:00,False,7080.75,7097.25,7064.75,7085.50,7081.309627,15916,7188.896788,35.435294,0.0
2018-10-11 16:45:00,False,7085.25,7085.75,7045.75,7048.50,7061.158950,17346,7186.785419,35.548003,0.0
2018-10-11 16:51:00,False,7048.25,7054.25,7028.00,7045.50,7042.404649,15283,7184.398960,35.318423,0.0
2018-10-11 16:58:00,False,7045.00,7050.75,7025.50,7046.75,7039.977037,16974,7182.011820,35.069820,0.0
2018-10-11 17:04:00,False,7046.75,7046.75,6980.25,6987.25,7013.145476,19066,7179.220641,35.845874,-1.0
2018-10-11 17:11:00,False,6986.75,7020.00,6985.75,6993.25,7002.282922,16854,7176.296051,35.806469,-1.0
2018-10-11 17:17:00,False,6994.00,7023.25,6975.50,7018.25,6995.891305,15803,7173.314154,36.101371,-1.0
2018-10-11 17:24:00,False,7018.50,7043.75,7003.00,7032.25,7022.915159,15705,7170.828220,36.216152,0.0
2018-10-11 17:32:00,False,7031.50,7042.75,7009.25,7012.25,7025.574577,17030,7168.427334,36.149087,0.0
2018-10-11 17:40:00,False,7012.50,7041.75,7002.75,7039.75,7018.659463,18456,7165.951832,36.219480,0.0
2018-10-11 17:46:00,False,7039.50,7059.75,7031.75,7057.75,7044.264935,15449,7163.940478,36.016530,0.0
2018-10-11 17:53:00,False,7057.50,7093.00,7056.50,7085.25,7071.941417,17220,7162.419832,36.028467,0.0
2018-10-11 18:03:00,False,7085.25,7087.50,7051.25,7060.25,7067.738795,15005,7160.854857,36.033937,0.0
2018-10-11 18:14:00,False,7059.75,7082.50,7051.75,7079.50,7064.382667,15214,7159.260275,35.903470,0.0
2018-10-11 18:24:00,False,7080.00,7116.50,7077.75,7116.00,7097.023007,15214,7158.231560,35.973754,0.0
2018-10-11 18:35:00,False,7115.75,7118.50,7078.25,7086.00,7094.838707,15448,7157.183744,36.079341,0.0
2018-10-11 18:47:00,False,7085.50,7092.25,7067.75,7080.25,7079.875144,15127,7155.905916,35.793431,0.0
2018-10-11 18:58:00,False,7080.00,7082.00,7051.25,7070.25,7068.140677,15264,7154.455251,35.668902,0.0
2018-10-11 19:11:00,False,7069.75,7077.25,7041.75,7048.75,7055.367671,15030,7152.817440,35.664731,0.0
2018-10-11 19:23:00,False,7048.25,7096.50,7047.00,7084.50,7083.703439,16180,7151.675059,36.006343,0.0
2018-10-11 19:36:00,False,7084.75,7099.25,7067.00,7072.75,7079.917443,15551,7150.488983,35.913594,0.0
2018-10-11 19:51:00,False,7072.75,7083.75,7032.00,7041.75,7059.830936,17040,7148.990503,36.304616,0.0
2018-10-11 20:05:00,False,7041.75,7072.75,7036.50,7068.50,7055.989742,15680,7147.453300,36.303268,0.0
2018-10-11 20:16:00,False,7068.75,7070.25,7019.25,7025.50,7037.564673,16265,7145.636959,36.666150,0.0
2018-10-11 20:26:00,False,7025.25,7043.75,7012.50,7022.25,7026.241727,15644,7143.663484,36.532418,0.0
2018-10-11 20:36:00,False,7021.25,7037.75,6983.50,6987.75,7007.880177,16226,7141.419132,36.969889,0.0
2018-10-11 20:42:00,False,6987.75,7002.00,6958.00,6958.75,6981.633833,18609,7138.778053,37.143472,-1.0
2018-10-11 20:46:00,False,6958.75,6969.75,6907.75,6930.25,6938.486221,18960,7135.467444,37.757213,-1.0
2018-10-11 20:50:00,False,6930.50,6970.75,6926.75,6961.00,6955.754793,17306,7132.496987,37.911356,0.0
2018-10-11 20:56:00,False,6961.25,6990.75,6946.00,6967.25,6970.255856,16851,7129.815315,38.080212,0.0
2018-10-11 21:04:00,False,6968.25,6992.25,6950.00,6991.00,6965.918252,17728,7127.106273,38.183169,0.0
2018-10-11 21:13:00,False,6990.75,7001.25,6954.50,7000.25,6977.467847,15084,7124.632911,38.394696,0.0
2018-10-11 21:18:00,False,7000.00,7065.75,6997.50,7044.50,7032.311855,17045,7123.106943,39.131864,0.0

In [21]:
data[data.backfill == False]

,backfill,open,high,low,close,price,volume,ema_fast,atr,signal
date,,,,,,,,,,
2018-02-09 00:48:00,False,6315.00,6347.50,6297.00,6304.75,6320.080707,14933,6541.189601,41.825874,0.0
2018-02-09 02:40:00,False,6304.75,6365.25,6300.50,6342.50,6342.860511,14916,6537.867844,42.392754,0.0
2018-02-09 04:36:00,False,6341.75,6361.75,6288.50,6356.75,6319.270490,14977,6534.207425,43.155780,0.0
2018-02-09 08:19:00,False,6357.00,6368.00,6292.50,6357.00,6334.728693,14959,6530.867870,43.955546,0.0
2018-02-09 10:43:00,False,6357.75,6378.50,6344.00,6366.75,6362.032114,14929,6528.041922,43.721750,0.0
...,...,...,...,...,...,...,...,...,...,...
2019-09-04 16:24:00,False,7672.50,7679.00,7665.50,7671.25,7671.553546,15270,7649.279036,25.211616,0.0
2019-09-04 16:44:00,False,7671.50,7683.75,7668.00,7675.00,7677.507508,15328,7649.745622,24.977996,0.0
2019-09-04 17:09:00,False,7675.25,7686.75,7673.00,7685.00,7681.368105,14996,7650.268308,24.700762,0.0
2019-09-04 17:33:00,False,7685.25,7698.75,7679.50,7696.00,7687.806009,15141,7650.888766,24.566175,0.0
2019-09-04 18:04:00,False,7696.00,7704.25,7695.75,7703.25,7700.304081,15166,7651.705548,24.169479,0.0

In [ ]:
periods = [10, 20, 40, 80, ]

In [ ]:
min_max = pd.DataFrame({'close': data.price})

In [ ]:
min_max

In [ ]:
for p in periods:
    min_max[f'min_{p}'] = min_max.close.rolling(p).min()
    #min_max[f'max_{p}'] = min_max.close.rolling(p).max()

In [ ]:
min_max.plot(figsize=(18, 9), grid=True);

In [ ]:
data[data['signal'] != 0].loc['20190927':].head(50)

In [ ]:
data[data['signal'] != 0].tail(60)

In [ ]:
averages = pd.DataFrame({'price': data.price,
                       'ema_fast': data.price.ewm(span=100).mean(),
                       'ema_slow': data.price.ewm(span=160).mean()})

In [ ]:
averages.plot(figsize=(18,9), grid=True);

In [23]:
data.loc['20180221':].head(50)

,backfill,open,high,low,close,price,volume,ema_fast,atr,signal
date,,,,,,,,,,
2018-02-21 04:03:00,False,6790.25,6815.00,6783.00,6813.00,6800.957409,14944,6729.468272,24.775085,0.0
2018-02-21 08:07:00,False,6813.00,6815.00,6774.75,6810.75,6792.270907,14989,6730.506693,25.157184,0.0
2018-02-21 12:55:00,False,6810.50,6813.00,6780.75,6793.75,6793.376415,14942,6731.546216,25.332317,0.0
2018-02-21 15:25:00,False,6793.50,6820.00,6793.00,6819.00,6808.868204,15174,6732.824694,25.373494,0.0
2018-02-21 15:37:00,False,6819.25,6830.00,6806.25,6820.75,6820.976633,16215,6734.282232,25.333408,0.0
2018-02-21 15:48:00,False,6821.25,6832.75,6815.75,6832.00,6823.765507,14955,6735.761774,25.127643,0.0
2018-02-21 16:01:00,False,6831.75,6832.00,6812.50,6820.50,6822.092227,15081,6737.189179,24.988689,0.0
2018-02-21 16:15:00,False,6821.00,6832.50,6813.25,6825.50,6822.827959,15132,6738.605141,24.846992,0.0
2018-02-21 16:30:00,False,6826.00,6839.75,6824.75,6838.25,6834.191165,15580,6740.185563,24.603855,0.0
2018-02-21 16:49:00,False,6838.25,6846.25,6830.50,6835.75,6838.610514,15470,6741.812915,24.385240,1.0
2018-02-21 17:13:00,False,6836.00,6846.00,6832.75,6838.00,6840.330794,15429,6743.441796,24.110294,1.0
2018-02-21 17:32:00,False,6838.00,6860.50,6832.75,6859.25,6845.469149,15100,6745.128694,24.200164,1.0
2018-02-21 18:00:00,False,6859.75,6862.75,6842.75,6846.25,6853.705672,15207,6746.923873,24.096456,1.0
2018-02-21 18:23:00,False,6846.25,6849.25,6830.00,6832.50,6838.264181,15535,6748.434059,23.976790,0.0
2018-02-21 18:58:00,False,6832.25,6842.00,6828.00,6839.50,6834.094295,15052,6749.850326,23.730448,0.0
2018-02-21 20:00:00,False,6839.50,6868.75,6835.25,6865.75,6845.072431,17179,6751.424677,23.971673,0.0
2018-02-21 20:10:00,False,6866.00,6878.50,6846.50,6873.25,6864.523346,15023,6753.294582,24.169904,1.0
2018-02-21 20:24:00,False,6873.00,6883.25,6866.25,6881.50,6874.037001,15715,6755.290854,23.992868,1.0
2018-02-21 20:42:00,False,6881.75,6885.50,6864.00,6870.25,6872.696275,15119,6757.231947,23.931316,0.0
2018-02-21 20:54:00,False,6870.50,6872.50,6839.75,6844.50,6855.152253,15766,6758.850880,24.149062,0.0
2018-02-21 21:04:00,False,6845.00,6856.75,6824.75,6826.00,6840.916634,15386,6760.207682,24.342913,0.0
2018-02-21 21:11:00,False,6825.50,6830.25,6794.25,6807.75,6811.570883,16334,6761.056871,24.630744,0.0
2018-02-21 21:23:00,False,6807.75,6824.00,6800.75,6823.75,6812.240316,16519,6761.903085,24.596651,0.0
2018-02-21 21:34:00,False,6823.00,6833.75,6801.50,6827.25,6820.940750,15367,6762.879149,24.785623,0.0
2018-02-21 21:45:00,False,6827.75,6833.00,6789.25,6807.50,6807.315645,16953,6763.613810,25.253881,-1.0
2018-02-21 21:53:00,False,6807.50,6814.75,6783.50,6788.50,6798.421893,15362,6764.189284,25.401934,-1.0
2018-02-21 21:59:00,False,6788.50,6794.00,6763.00,6763.00,6775.132254,16363,6764.370201,25.540158,-1.0
2018-02-21 22:13:00,False,6763.00,6765.50,6741.25,6756.75,6751.925634,15291,6764.164460,25.508302,-1.0
2018-02-22 01:40:00,False,6757.00,6764.50,6717.00,6727.75,6739.540919,14960,6763.757369,26.051309,-1.0
2018-02-22 03:05:00,False,6727.75,6729.75,6694.75,6718.50,6712.932043,15036,6762.917098,26.272265,-1.0
2018-02-22 08:03:00,False,6718.50,6733.50,6709.75,6732.50,6720.702864,14951,6762.219193,26.209987,0.0
2018-02-22 11:40:00,False,6732.75,6760.25,6712.25,6754.00,6732.019055,15004,6761.719912,26.748013,0.0
2018-02-22 14:00:00,False,6754.00,6783.00,6747.50,6773.00,6768.466379,15082,6761.831447,26.964113,0.0
2018-02-22 15:19:00,False,6772.75,6800.50,6768.00,6788.50,6785.979276,15003,6762.230666,27.100802,0.0
2018-02-22 15:36:00,False,6788.50,6813.50,6788.50,6802.50,6803.533979,16263,6762.913502,27.048930,0.0
2018-02-22 15:47:00,False,6802.25,6820.50,6802.00,6807.75,6811.442094,15074,6763.715785,26.837844,0.0
2018-02-22 15:58:00,False,6808.00,6810.00,6782.00,6786.75,6797.105571,14967,6764.267789,26.866540,0.0
2018-02-22 16:07:00,False,6786.75,6808.00,6780.50,6808.00,6794.014428,15106,6764.759563,26.882181,0.0
2018-02-22 16:20:00,False,6808.25,6812.75,6792.00,6797.25,6803.196584,15887,6765.395005,26.730769,0.0
2018-02-22 16:34:00,False,6797.50,6819.25,6797.50,6808.50,6810.995168,15754,6766.148865,26.607786,0.0
2018-02-22 16:49:00,False,6808.75,6824.75,6805.50,6822.75,6817.150427,14980,6766.992019,26.426112,0.0
2018-02-22 17:04:00,False,6822.75,6828.25,6807.50,6815.00,6815.194637,15257,6767.788898,26.285961,0.0
2018-02-22 17:26:00,False,6814.75,6826.25,6814.50,6820.00,6821.650459,15951,6768.679328,25.927047,1.0
2018-02-22 17:45:00,False,6820.00,6827.00,6805.50,6822.75,6816.635611,14942,6769.472130,25.817737,0.0
2018-02-22 18:17:00,False,6823.00,6831.50,6813.75,6824.00,6823.239068,15210,6770.360990,25.618534,1.0
2018-02-22 18:45:00,False,6824.25,6827.00,6794.00,6796.50,6809.014949,15534,6771.000005,25.800792,0.0
2018-02-22 19:01:00,False,6796.25,6804.00,6779.25,6791.25,6793.110068,15065,6771.365521,25.774847,0.0
2018-02-22 19:21:00,False,6791.50,6800.50,6771.00,6773.00,6783.313442,15717,6771.563039,25.866826,0.0
2018-02-22 19:41:00,False,6772.75,6788.25,6764.00,6767.00,6774.447182,15338,6771.610718,25.826904,0.0
2018-02-22 19:58:00,False,6766.75,6782.50,6753.00,6781.75,6766.466131,15602,6771.525670,25.917598,0.0